body.game {
  background-image: url(../../../assets/KACHIPU-22.png);
}
.logoflotante {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
}
.logogame {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin: 0px;
  height: auto;
}
.logogame .logogameimg {
  max-width: 150px;
  float: right;
  display: none;
}
.btn-new-partidas {
  background-color: black !important;
  float: left;
  color: white !important;
  border-radius: 0% !important;
  border: 2px solid black !important;
}
.btn-new-partidas:hover {
  background-color: transparent !important;
}
.contadores {
  background-color: black;
  float: right;
  width: 150px;
  height: 40px;
  color: white;
}
.contadores h5 {
  margin-top: 5px;
}
.usuario {
  color: #344093;
  font-size: 12pt;
  font-weight: bold;
}
.opciones {
  background: transparent;
}
.opciones:hover {
  cursor: pointer;
}
.opcion:hover {
  background-color: yellow !important;
  border-radius: 50%;
}
