body.main {
  background-image: url(../../../assets/KACHIPU-22.png) !important;
}
section.profilemain {
  background-color: white;
  width: auto;
  height: auto;
  padding: 15px;
}
div.left {
  height: auto;
  display: flex;
  align-items: center;
}
div.contenedor {
  height: auto;
  width: 100%;
}
div.new {
  width: 100%;
  height: 200px;
  max-height: 250px;
  background-image: url(../../../assets/logo.png);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
button.btn-create {
  background-color: #344093;
  border-radius: 0%;
  color: white;
  font-weight: bold;
  border: 2px solid #344093;
}
button.btn-create:hover {
  background-color: gainsboro;
  border: 2px solid black;
  color: black;
}
button.editar {
  padding: 0;
  border: 0px !important;
  font-size: 7pt;
  color: gray !important;
}
button.editar:hover {
  color: black !important;
}
.titleprofile {
  color: black;
  font-size: 10pt;
  font-weight: bold;
}
.correo {
  font-size: 8pt;
  color: black;
}
.imagenperfil {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px gainsboro;
  overflow: hidden;
  background-color: white;
  margin-bottom: 10px;
}
.imagenperfil img {
  height: 100%;
}
