.tarjetas {
  background: transparent;
  border-radius: 20px;

  font-family: Lexend Giga;
  border-radius: 0%;
  border: 0px;
  padding: 20px;
}
h3 {
  color: white;
  font-weight: bolder;
}
.pt {
  padding-top: 50px;
  padding-bottom: 50px;
}
.mt {
  margin-top: 50px;
}
.ronda {
  color: white;
}
