<section class="section">
<div class="col columnaDer">
    <div class="tab-main mx-auto columnaDer">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Partidas propias</label>
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Partidas disponibles</label>
        <section id="content1">
            <Partidas></Partidas>
        </section>
        <section id="content2">
            <label>asdasd</label>
        </section>
    </div>
</div>
</section>
