<section class="section">

  <a class="subtitle text-center">
    <h6 class="title">Hello {{user&&user.displayName?user.displayName:'Sin Nombre'}}</h6>
    <img :src="user.photoURL" />
  </a>
  <h4>EDIT PROFILE</h4>
    <alerts-component v-if="showError" :message="errorMessage" :code="errorCode"></alerts-component>
    <div class="col">
      <img class="img-fluid w-50 h-50 m-3" :src="user.photo">
      <br>
      <small class="small">Name:</small>
      <input class="form-control mb-2" name="name" type="text" placeholder="Name" v-model="user.displayName">

      <!--<input class="form-control mb-3" name="email" type="email" placeholder="E-mail" v-model="user.email">-->
      <small class="small">Url Picture:</small>
      <input placeholder="Ex: http://pic.com" class="form-control mb-2 " type="text" v-model="user.photoURL">

    </div>
    <div class="form-group mb-3">
      <div class="row">
      </div>
    </div>
    <div class="form-group mb-2">
      <div class="row">
        <div class="col">

        </div>

      </div>
    </div>
    <div class="form-group mb-2">
      <div class="row">
        <div class="col">
          <button class="btn btn-update" @click="updateInfo"><small><strong class="strong">UPDATE</strong></small></button>
<br>
<br>
        <button class="btn" @click="logOut"><small><strong class="strong">LOG OUT</strong></small></button>
        </div>

      </div>
    </div>
  </section>
