<section class="section">
<h4>EDIT PROFILE</h4>
  <a class="subtitle text-center">
    <img class="imgperfil" :src="user.photoURL">

  <h6 class="title profiletitle">{{user&&user.displayName?user.displayName:'Sin Nombre'}}</h6>
  </a>

    <alerts-component v-if="showError" :message="errorMessage" :code="errorCode"></alerts-component>
    <div class="col">

      <br>
      <small class="small">Name:</small>
      <input class="form-control mb-2" name="name" type="text" placeholder="Name" v-model="user.displayName">

      <!--<input class="form-control mb-3" name="email" type="email" placeholder="E-mail" v-model="user.email">-->
      <small class="small">Url Picture:</small>
      <input placeholder="Ex: http://pic.com" class="form-control mb-2 " type="text" v-model="user.photoURL">

    </div>
    <div class="form-group mb-3">
      <div class="row">
      </div>
    </div>
    <div class="form-group mb-2">
      <div class="row">
        <div class="col">

        </div>

      </div>
    </div>
    <div class="form-group mb-2">
      <div class="row">
        <div class="col">
          <router-link :to="{name:'main'}">
          <button class="btn btn-update" @click="updateInfo"><small><strong class="strong">UPDATE</strong></small></button>
          </router-link>
<br>
<br>
        <button class="btn" @click="logOut"><small><strong class="strong">LOG OUT</strong></small></button>
        </div>

      </div>
    </div>
  </section>
