<section>
    <div class="tarjetas p-3">
        <div class="container-fluid ronda">
            <div class="row">
                <div class="col col-4 p-2">
                    <h6 class="mx-auto">0</h6>
                </div>
                <div class="col col-4 p-2">
                    <h6 class="mx-auto">Ronda 1</h6>
                </div>
                <div class="col col-4 p-2">
                    <h6 class="mx-auto">0</h6>
                </div>
            </div>
        </div>
    </div>
</section>
